/* SB Duniang css start*/

#result {width:100%;font-size:12px;}
	dl,dt,dd,ul,li{
		margin:0;
		padding:0;
		list-style:none;
	}
	dt{
		font-size:14px;
		font-family:"微软雅黑";
		font-weight:bold;
		border-bottom:1px dotted #000;
		padding:5px 0 5px 5px;
		margin:5px 0;
	}
	dd{
		padding:5px 0 0 5px;
	}
	li{
		line-height:28px;
	}

/*SB Duniang css end*/

//度娘的烂div没救了 (╯‵□′)╯︵┻━┻
div.BMapLib_SearchInfoWindow > div.BMapLib_bubble_center > div > ul.BMapLib_nav_tab_content > li > table > tbody > tr {
    td::before ::after {
        box-sizing: initial;
        -webkit-box-sizing: initial;
    }
}

main {
    margin: 0px;
    padding: 0px;
}

section {
	height: 100%;
	div#divTBMap {
		height: 500px;
		width: 100%;
	}
}

/* Responsive Settings Start*/

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {	

}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}



/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Responsive Settings End*/