<section>
  <header>
    <div class="col-sm-4"></div>
    <div id="divUserAvatar" class="col-sm-4">
      <img class="img img-responsive img-circle" src="assets/images/user.png" alt="userAvatar">
      <p class="HName">10010</p>
      <p class="HDesc">我爱健身，健身爱我</p>
    </div>
  </header>
  <main>
    <ul>
      <li>
        <div>
          <span>我的ID</span><span class="vValue">10010</span>
        </div>
      </li>
      <li>
        <div>
          我的名字<span class="vValue">10010</span>
        </div>
      </li>
      <li>
        <div>
          介绍自己<span class="vValue">我爱健身，健身爱我</span>
        </div>
      </li>
    </ul>
    <hr />
    <ul>
      <li>
        <div>
          性别<span class="vValue">保密</span>
        </div>
      </li>
      <li>
        <div>
          年龄<span class="vValue">18</span>
        </div>
      </li>
    </ul>
    <hr />
    <ul>
      <li>
        <div>
          社交分享<span class="vValue">微博 朋友圈 QQ空间...</span>
        </div>
      </li>
      <li>
        <div>
          吐槽一下<span class="vValue">立即反馈</span>
        </div>
      </li>
    </ul>
    
  </main>
  <footer>
    <a class="btn btn-danger btn-block"> 注销 </a>
  </footer>
</section>