$themeBGColor: rgba(72, 124, 182, 0.8);

header {
    height: 300px;
    background-color: $themeBGColor;
    div#divUserAvatar {
        text-align: center;
        img {
            height: 200px;
        }
    }
}