<header class="container-fluid">
  <div class="col-lg-12" id="divCover">
    <img class="img img-responsive" src="assets/images/gymtest.jpg" alt="gymtest">
  </div>
  <div>id</div>
  <div id="divAvatar" class="col-lg-6">
    avatar
  </div>
  <div class="col-lg-6">
    <div>ratings⭐️⭐️⭐️⭐️⭐️</div>
    <div>
      <table>
        <tbody>
          <tr><td>price</td><td>59.99$</td></tr><tr><td>membership</td><td>1 year</td></tr>
        </tbody>
      </table>
    </div> <!-- info  -->
    <article>
      <p>intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro</p>
    </article>
  </div>
</header>
<main>

<footer class="col-lg-12">
  <a class="btn btn-lg btn-primary">Go</a>
</footer>
</main>
