header {
    #divCover {
        text-align: center;
        padding: 0px;
       img {
            margin: 0px auto;
       }
    }
    #divAvatar {
        border-radius: 5px;
        width: 200px;
        height: 200px;
        background-color: #eeeeee;
    }
}
