<header class="col-lg-12">
  <app-g-sc></app-g-sc>
</header>

<main class="col-lg-12">
  <ul>
    <li *ngFor="let gym of gyms">
      <section class="card panel-default col-md-3">
        <div class="card-heading">
          <h3 class="card-title">{{ gym.id }} 号健身房 - {{ gym.description }} </h3>
        </div>
        <div class="card-block">
          <div>坐标: {{ gym.location.lati }}N, {{ gym.location.longi }}E</div>
          <div>评价：⭐️⭐️⭐️⭐️⭐️</div>
        </div>
      </section>
    </li>
    <!--<li>
      <section class="card panel-default col-md-3">
        <div class="card-heading">
          <h3 class="card-title">gym 2</h3>
        </div>
        <div class="card-block">
          ratings: ⭐️⭐️⭐️⭐️⭐️
        </div>
      </section>
    </li>
    <li>
      <section class="card panel-default col-md-3">
        <div class="card-heading">
          <h3 class="card-title">gym 3</h3>
        </div>
        <div class="card-block">
          ratings: ⭐️⭐️⭐️⭐️⭐️
        </div>
      </section>
    </li>-->
  </ul>
</main>

<footer class="col-sm-12">
</footer>