<h1>
  {{ title }}
</h1>

<div class="container">
  <div class="col-sm-12">
  main
    <main>
      <router-outlet></router-outlet>
    </main>
    You can see a router outlet.(app.component)
  </div>
  <nav class="navbar navbar-light">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" routerLink="/index">Index<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/gym">GymList</a>
      <a class="nav-item nav-link" routerLink="/">My tBody</a>
    </div>
  </nav>
</div>
