<header class="col-sm-12">
  <h1>
    {{ title }}
  </h1>
</header>


<div class="container-fluid">

  <main class="col-sm-12">
    <router-outlet></router-outlet>
  </main>

</div>

<div class="container">
  <nav class="navbar navbar-light">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" routerLink="/index">Index<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/gym">GymList</a>
      <a class="nav-item nav-link" routerLink="/">My tBody</a>
    </div>
  </nav>
</div>
