<header class="container-fluid">
  <div class="col-sm-12">
    <h2>
      {{ title }}
    </h2>
  </div>
</header>


<main class="container-fluid">

  <div id="divRouterFrame" class="routerFrame col-lg-12">
    <router-outlet></router-outlet>
  </div>

</main>

<footer id="footAppRoot" class="container-fluid">
  <nav class="navbar navbar-light">
    <div class="nav navbar-nav">
      <div class="col-xs-4">
        <a class="nav-item nav-link active" routerLink="/index">Index<span class="sr-only">(current)</span></a>
      </div>
      <div class="col-xs-4">
        <a class="nav-item nav-link" routerLink="/gym">GymList</a>
      </div>
      <div class="col-xs-4">
        <a class="nav-item nav-link" routerLink="/home/id/10010">My tBody</a>
      </div>
    </div>
  </nav>
</footer>
