$theme: rgba(72, 124, 182, 0.8);

header {
    height: 45px;
    background-color: $theme;
    h1 {
        text-align: left;
    }
}

main {
    padding: 0px;
    div.routerFrame {
        padding: 0px;
    }
}

footer {
    width: 100%;
    position: fixed;
    background-color: $theme;
    text-align: center;
    nav .navbar {
        padding: 0px;
    }
}