$themeBGColor: rgba(72, 124, 182, 0.8);
$themeFontColor: #eeeeee;

header {
    color: $themeFontColor;
    height: 45px;
    background-color: $themeBGColor;
    h1 {
        text-align: left;
    }
}

main {
    padding: 0px;
    div.routerFrame {
        height: 100%;
        padding: 0px;
    }
}

footer {
    color: $themeFontColor;
    width: 100%;
    position: fixed;
    background-color: $themeBGColor;
    text-align: center;
    nav .navbar {
        padding: 0px;
    }
}